ENVIRONMENT=development
PORT=7777
LOG_LEVEL=INFO
LOG_FORMAT=%(asctime)s %(levelname)-8s [%(name)s] %(message)s
LOG_DATEFMT=%Y-%m-%d %H:%M:%S

INFISICAL_SERVER_TOKEN=SERVER_TOKEN
INFISICAL_PROJECT_ID=PROJECT_ID
INFISICAL_HOST=https://app.infisical.com
INFISICAL_ENVIRONMENT=dev
INFISICAL_SECRET_PATH=/